#==================================================================
# Configuration opions for the prepare.pl script
#==================================================================
# This file should be in the directory from where the script is run
#==================================================================
# This file is meant as an example and it should be copied
# and renamed to coolfluid.conf, and adapted to the
# characteristics of the envrionment where you plan to
# configure and run COOLFluiD
#
# If you used the install-coolfluid.pl script, just replace
#    $HOME for your home account directory
#    $ARCH for the result of command "uname -m"
#==================================================================

#==================================================================
# default build options
#==================================================================

coolfluid_dir = $HOME/workspace/coolfluid
basebuild_dir = $HOME/workspace/coolfluid/builds/$ARCH
install_dir   = $HOME/workspace/coolfluid/builds/$ARCH/INSTALL

# compilers
cc     = $HOME/local/$ARCH/bin/mpicc
cxx    = $HOME/local/$ARCH/bin/mpic++
fc     = gfortran

# uncomment and set correct paths if CUDA compiler is needed
#cudac = /opt/cuda/4.0.17/bin/nvcc
#cuda_dir = /opt/cuda/4.0.17
#cudacflags = -O2 -g -Xcompiler
#withcuda = 1

# library locations
mpi_dir       = $HOME/local/$ARCH
libtool_dir   = $HOME/local/$ARCH
curl_dir      = $HOME/local/$ARCH
boost_dir     = $HOME/local/$ARCH
petsc_dir     = $HOME/local/$ARCH/local/petsc
parmetis_dir  = $HOME/local/$ARCH/local/parmetis

# dont get all the moduless
mods-getall = 0
# get these modules
mod_Solver = on

#==================================================================
# Below you can override the settings for existing build profiles
# Any number of build names is possible, so you can create your own
# Prepend any variable with the name of the build name to override 
# it. For example:
#    cpuoptim_cflags = -march=pentium4
# Assign a build type to each build name:
#    cpuoptim_buildtype = OPTIM
# Valid names are ( DEBUG, OPTIM, RELEASE, CUDA, CUDARELEASE )

# You can also create customized new profiles (e.g. newoptim) in 
# a similar way (in that case you must not define the corresponding 
# *_buildtype
#==================================================================

#==================================================================
# cpuoptim build ( change the flags to the appropriate CPU)
#==================================================================

cpuoptim_buildtype  = OPTIM
cpuoptim_cflags     = -march=pentium
cpuoptim_cxxflags   = -march=pentium
cpuoptim_fflags     = -march=pentium

newoptim_cflags  = -O3 -Wall
newoptim_flags   = -O3 -Wall
newoptim_fflags  = -O3 -Wall

