*.cxx linguist-language=C++
*.cpp linguist-language=C++
*.cc  linguist-language=C++
*.hh  linguist-language=C++
*.hpp linguist-language=C++
*.h   linguist-language=C++
*.ci  linguist-language=C++
*.cu  linguist-language=CUDA
